
#pre {
    display: block;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
    white-space: pre-line;
    margin: 1em 0;
    font-size: 13px;
}

.hide-card {
    display: none;
}
